workflow.json
{
  "data": [
    {
      "updatedAt": "2026-05-31T01:57:23.725Z",
      "createdAt": "2026-05-30T14:14:20.385Z",
      "id": "F6b7oeMycY8I1zrj",
      "name": "My workflow",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -320,
            32
          ],
          "id": "89d7bb41-9645-48c6-962f-9ee7bf5902f2",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "jsCode": "const { subtle } = require('crypto').webcrypto;\n\n// ── CONFIG ──────────────────────────────────────────────\nconst ROOT_FOLDER_ID = $env.GOOGLE_PROJECT_FOLDER;\nconst serviceAccountEmail = $env.GOOGLE_SERVICE_ACCOUNT;\nconst privateKey = $env.GOOGLE_SERVICE_ACCOUNT_KEY.replace(/\\\\n/g, '\\n');\nconst SCOPES = 'https://www.googleapis.com/auth/drive.readonly';\n\n// ── GENERATE JWT ─────────────────────────────────────────\nfunction base64url(str) {\n  return btoa(str).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\nfunction base64urlFromUint8(bytes) {\n  let str = '';\n  for (const b of bytes) str += String.fromCharCode(b);\n  return base64url(str);\n}\n\nconst now = Math.floor(Date.now() / 1000);\nconst header = base64url(JSON.stringify({ alg: 'RS256', typ: 'JWT' }));\nconst claim  = base64url(JSON.stringify({\n  iss: serviceAccountEmail,\n  scope: SCOPES,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n}));\nconst signingInput = `${header}.${claim}`;\n\nconst pemBody = privateKey.replace(/-----[^-]+-----/g, '').replace(/[^A-Za-z0-9+/=]/g, '');\n\nconst binaryDer = Uint8Array.from(atob(pemBody), c => c.charCodeAt(0));\nconst cryptoKey = await subtle.importKey(\n  'pkcs8', binaryDer.buffer,\n  { name: 'RSASSA-PKCS1-v1_5', hash: 'SHA-256' },\n  false, ['sign']\n);\nconst signature = await subtle.sign(\n  'RSASSA-PKCS1-v1_5',\n  cryptoKey,\n  new TextEncoder().encode(signingInput)\n);\nconst jwt = `${signingInput}.${base64urlFromUint8(new Uint8Array(signature))}`;\n\n// ── EXCHANGE JWT FOR ACCESS TOKEN ────────────────────────\nconst tokenData = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=${jwt}`\n});\nconst access_token = tokenData.access_token;\n\n// ── RECURSIVE FOLDER WALK ────────────────────────────────\nasync function listRecursive(folderId, path) {\n  let files = [];\n  let pageToken = null;\n  do {\n    const query = `q=${encodeURIComponent(`'${folderId}' in parents and trashed = false`)}&fields=${encodeURIComponent('nextPageToken, files(id, name, mimeType)')}&pageSize=1000${pageToken ? `&pageToken=${encodeURIComponent(pageToken)}` : ''}`;\n\n    const data = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://www.googleapis.com/drive/v3/files?${query}`,\n      headers: { Authorization: `Bearer ${access_token}` }\n    });\n    for (const file of data.files) {\n      const filePath = `${path}/${file.name}`;\n      if (file.mimeType === 'application/vnd.google-apps.folder') {\n        const children = await listRecursive(file.id, filePath);\n        files = files.concat(children);\n      } else {\n        files.push({\n          id: file.id,\n          name: file.name,\n          mimeType: file.mimeType,\n          path: filePath\n        });\n      }\n    }\n    pageToken = data.nextPageToken;\n  } while (pageToken);\n  return files;\n}\n\nconst allFiles = await listRecursive(ROOT_FOLDER_ID, '');\nreturn allFiles.map(f => ({ json: f }));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -160,
            32
          ],
          "id": "66148e34-b811-4ce3-9e4c-d4124751a8ad",
          "name": "Code in JavaScript"
        },
        {
          "parameters": {
            "jsCode": "const mammoth = require('mammoth');\nconst { subtle } = require('crypto').webcrypto;\n\n// ── CONFIG ───────────────────────────────────────────────\nconst DEST_FOLDER_ID   = $env.GOOGLE_DEST_FOLDER;\nconst serviceAccountEmail = $env.GOOGLE_SERVICE_ACCOUNT;\nconst privateKey = $env.GOOGLE_SERVICE_ACCOUNT_KEY.replace(/\\\\n/g, '\\n');\nconst SCOPES = 'https://www.googleapis.com/auth/drive';\n\n// ── JWT + TOKEN ──────────────────────────────────────────\nfunction base64url(str) {\n  return btoa(str).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\nfunction base64urlFromUint8(bytes) {\n  let str = '';\n  for (const b of bytes) str += String.fromCharCode(b);\n  return base64url(str);\n}\nconst now = Math.floor(Date.now() / 1000);\nconst header = base64url(JSON.stringify({ alg: 'RS256', typ: 'JWT' }));\nconst claim  = base64url(JSON.stringify({\n  iss: serviceAccountEmail, scope: SCOPES,\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now, exp: now + 3600\n}));\nconst signingInput = `${header}.${claim}`;\nconst pemBody = privateKey.replace(/-----[^-]+-----/g, '').replace(/\\s/g, '');\nconst binaryDer = Uint8Array.from(atob(pemBody), c => c.charCodeAt(0));\nconst cryptoKey = await subtle.importKey(\n  'pkcs8', binaryDer.buffer,\n  { name: 'RSASSA-PKCS1-v1_5', hash: 'SHA-256' },\n  false, ['sign']\n);\nconst signature = await subtle.sign('RSASSA-PKCS1-v1_5', cryptoKey, new TextEncoder().encode(signingInput));\nconst jwt = `${signingInput}.${base64urlFromUint8(new Uint8Array(signature))}`;\n\nconst tokenData = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://oauth2.googleapis.com/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=${jwt}`\n});\nconst access_token = tokenData.access_token;\nconst authHeader = { Authorization: `Bearer ${access_token}` };\n\n// ── FOLDER CACHE (avoid recreating folders) ──────────────\nconst folderCache = { '': DEST_FOLDER_ID };\n\nasync function ensureFolder(folderPath) {\n  if (folderCache[folderPath]) return folderCache[folderPath];\n  const parts = folderPath.split('/').filter(Boolean);\n  let currentPath = '';\n  let parentId = DEST_FOLDER_ID;\n  for (const part of parts) {\n    currentPath += '/' + part;\n    if (folderCache[currentPath]) {\n      parentId = folderCache[currentPath];\n      continue;\n    }\n    // Check if folder already exists\n    const query = `name=${encodeURIComponent(`'${part}'`)}&mimeType='application/vnd.google-apps.folder'&'${parentId}' in parents and trashed=false`;\n    const search = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://www.googleapis.com/drive/v3/files?q=${encodeURIComponent(`name='${part}' and mimeType='application/vnd.google-apps.folder' and '${parentId}' in parents and trashed=false`)}&fields=files(id)`,\n      headers: authHeader\n    });\n    if (search.files && search.files.length > 0) {\n      parentId = search.files[0].id;\n    } else {\n      // Create folder\n      const created = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://www.googleapis.com/drive/v3/files',\n        headers: { ...authHeader, 'Content-Type': 'application/json' },\n        body: JSON.stringify({ name: part, mimeType: 'application/vnd.google-apps.folder', parents: [parentId] })\n      });\n      parentId = created.id;\n    }\n    folderCache[currentPath] = parentId;\n  }\n  return parentId;\n}\n\n// ── PROCESS FILES ────────────────────────────────────────\nconst files = $input.all().map(i => i.json);\nconst results = [];\n\nfor (const file of files) {\n  // Download docx as buffer\n  const docxBuffer = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://www.googleapis.com/drive/v3/files/${file.id}?alt=media`,\n    headers: authHeader,\n    encoding: null  // returns Buffer\n  });\n\n  // Convert to HTML\n  const { value: html } = await mammoth.convertToHtml({ buffer: Buffer.from(docxBuffer) });\n\n  // Ensure destination folder exists\n  const folderPath = file.path.substring(0, file.path.lastIndexOf('/'));\n  const destFolderId = await ensureFolder(folderPath);\n\n  // Upload HTML file via multipart\n  const fileName = file.name.replace(/\\.docx$/i, '.html');\n  const boundary = '-------314159265358979323846';\n  const metadata = JSON.stringify({ name: fileName, parents: [destFolderId] });\n  const multipartBody =\n    `--${boundary}\\r\\nContent-Type: application/json\\r\\n\\r\\n${metadata}\\r\\n` +\n    `--${boundary}\\r\\nContent-Type: text/html\\r\\n\\r\\n${html}\\r\\n` +\n    `--${boundary}--`;\n\n  const uploaded = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&fields=id,name',\n    headers: { ...authHeader, 'Content-Type': `multipart/related; boundary=\"${boundary}\"` },\n    body: multipartBody\n  });\n\n  results.push({ json: { sourceId: file.id, sourcePath: file.path, destId: uploaded.id, destName: uploaded.name } });\n}\n\nreturn results;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            0,
            32
          ],
          "id": "1fe8add5-8370-4fff-b586-38ff69318ab3",
          "name": "Code in JavaScript1"
        }
      ],
      "connections": {
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Code in JavaScript1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "ea58bb2a-acfe-4742-a935-f6d2c46c1778",
      "activeVersionId": null,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-05-30T14:14:20.389Z",
          "createdAt": "2026-05-30T14:14:20.389Z",
          "role": "workflow:owner",
          "workflowId": "F6b7oeMycY8I1zrj",
          "projectId": "WTIwk2sZjQlNQovC"
        }
      ],
      "activeVersion": null,
      "tags": []
    }
  ],
  "nextCursor": null
}
