workflow.json
{
  "data": [
    {
      "updatedAt": "2026-05-30T16:34:37.304Z",
      "createdAt": "2026-05-30T14:14:20.385Z",
      "id": "F6b7oeMycY8I1zrj",
      "name": "My workflow",
      "active": false,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            -320,
            32
          ],
          "id": "89d7bb41-9645-48c6-962f-9ee7bf5902f2",
          "name": "When clicking ‘Execute workflow’"
        },
        {
          "parameters": {
            "url": "https://www.googleapis.com/drive/v3/files?fields=files(id,name,mimeType)",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "googleApi",
            "sendQuery": true,
            "queryParameters": {
              "parameters": [
                {
                  "name": "fields",
                  "value": "files(id,name)"
                }
              ]
            },
            "options": {
              "response": {
                "response": {
                  "responseFormat": "file"
                }
              }
            }
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            -160,
            32
          ],
          "id": "d3d3dab9-38df-45fb-9983-cc7b482dde62",
          "name": "HTTP Request",
          "credentials": {
            "googleApi": {
              "id": "wmIdujQJR9WJYpyh",
              "name": "Google Service Account account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const item = $input.all()[0];\nconst binaryKeys = Object.keys(item.binary ?? {});\nconst firstKey = binaryKeys[0];\nconst firstBinary = item.binary[firstKey];\n\nreturn [{\n  json: {\n    binaryKeys: binaryKeys.join(','),\n    mimeType: firstBinary?.mimeType,\n    fileSize: firstBinary?.data?.length\n  }\n}];"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            336,
            32
          ],
          "id": "ab19be3f-a026-47fc-b3fa-d199ee5415dd",
          "name": "Code in JavaScript1"
        },
        {
          "parameters": {
            "options": {}
          },
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            16,
            32
          ],
          "id": "8fec77e0-5f94-445b-b14d-c9f2e00003db",
          "name": "Loop Over Items"
        },
        {
          "parameters": {
            "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "googleApi",
            "options": {}
          },
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            176,
            48
          ],
          "id": "72682579-85b8-4a32-ad6f-cb094460213f",
          "name": "HTTP Request1",
          "credentials": {
            "googleApi": {
              "id": "wmIdujQJR9WJYpyh",
              "name": "Google Service Account account"
            }
          }
        }
      ],
      "connections": {
        "When clicking ‘Execute workflow’": {
          "main": [
            [
              {
                "node": "HTTP Request",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [
              {
                "node": "HTTP Request1",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP Request1": {
          "main": [
            [
              {
                "node": "Code in JavaScript1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "a9ae87b8-4a3a-4209-8118-7912e4af0371",
      "activeVersionId": null,
      "triggerCount": 0,
      "shared": [
        {
          "updatedAt": "2026-05-30T14:14:20.389Z",
          "createdAt": "2026-05-30T14:14:20.389Z",
          "role": "workflow:owner",
          "workflowId": "F6b7oeMycY8I1zrj",
          "projectId": "WTIwk2sZjQlNQovC"
        }
      ],
      "activeVersion": null,
      "tags": []
    }
  ],
  "nextCursor": null
}
